* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top {
  padding: 25px;
  background-color: aquamarine;
}

.section {
  padding: 15px;
}

.shapes {
  border: 1px dashed darkslateblue;
  padding: 10px;
}

.square-1,
.square-2,
.square-3 {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 10px;
}

.square-1 {
  background-color: indigo;
  width: 200px;
  border: 3px solid red;
}

.square-2 {
  background-color: blue;
  box-shadow: black 5px 5px 8px 1px;
}

.square-3 {
  font-size: 16px;
  height: 200px;
  width: 200px;
  background-color: palevioletred;
  text-align: center;
  padding: 15px;
}

.circle-1,
.circle-2,
.circle-3 {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 50%;
}

.circle-1 {
  padding: 25px;
  margin-left: 25px;
}

.circle-2 {
  width: 125px;
  height: 125px;
  margin-left: 12.5px;
}

.circle-3 {
  width: 150px;
  height: 150px;
}

.fish {
  width: 50px;
}

.eye {
  width: 15px;
  margin-right: 7px;
}
.eyes {
  margin-bottom: 10px;
}

.nose {
  width: 25px;
  padding-left: 5px;
}

.button {
  width: 15px;
  display: block;
  margin: 20px auto;
}

.outer-square {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  background-color: beige;
}

.inner-circle {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: green;
  border-radius: 50%;
  padding: 35px;
}

.inner-square {
  width: 125px;
  height: 125px;
  background-color: brown;
  color: white;
  text-align: center;
}

.fish-tank {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  padding: 25px;
}

.fish {
  width: 50px;
}
